$rosewater: #f5e0dc;
$flamingo: #f2cece;
$pink: #f5c2e7;
$fuchsia: #f5c2f3;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$lavender: #b4befe;
$blue: #89b4fa;
$text: #cbb3f2;
$subtext1: #b7a0de;
$subtext0: #a38acc;
$overlay2: #866ab6;
$overlay1: #7c5ba7;
$overlay0: #6a4d8d;
$surface2: #573e74;
$surface1: #44305b;
$surface0: #312142;
$base: #21122a;
$mantle: #160c1c;
$crust: #0c080c;
