$rosewater: #f5e0dc;
$flamingo: #f2cece;
$pink: #f5c2e7;
$fuchsia: #f5c2f3;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$lavender: #b4befe;
$blue: #89b4fa;
$text: #ecb3f2;
$subtext1: #d7a0de;
$subtext0: #c78acc;
$overlay2: #ae6ab6;
$overlay1: #a45ba7;
$overlay0: #8a4d8d;
$surface2: #743e74;
$surface1: #5b305b;
$surface0: #422142;
$base: #2a1227;
$mantle: #1c0c19;
$crust: #0c080c;