/**
 * @name Catppuccin Mocha
 * @author winston#0001
 * @authorId 505490445468696576
 * @version 0.2.0
 * @description 🎮 Soothing pastel theme for Discord
 * @website https://github.com/catppuccin/discord
 * @invite r6Mdz5dpFc
**/

@use "sass:math";
@use "nekoppuccin-chaotic" as *;

$brand: $fuchsia;

button[class*="emojiButtonNormal"] > div > div {
  filter: grayscale(0.77) hue-rotate(185deg) brightness(1.02) opacity(100%) !important;
}

@import "theme";
.theme-dark {
  @import "catppuccin-mocha";
}
